<mat-grid-list cols="2" rowHeight="30rem">
  <mat-grid-tile rowspan="1" colspan="2">
    <mat-card [ngClass]="submitted ? 'bg-blue-gradient' : ''">
      <img class="coffee-image" src="../../../assets/img/chemex.jpg" alt="chemex">
      <mat-card-header>
        <mat-card-title *ngIf="!submitted">
          Coffee Calculator
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="normal-padding">
        <ng-container *ngIf="submitted then formSubmitted else coffeeSetupTemplate"></ng-container>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #coffeeSetupTemplate>
  <form (ngSubmit)="onSubmit()" #coffeeSetup="ngForm">
    <div class="form-fields">
      <div class="form-group">
        <mat-form-field>
          <input matInput
                 required
                 (input)="calculateWaterGrams(model.goalOunces)"
                 (ngModelChange)="calculateWaterGrams(model.goalOunces)"
                 type="number"
                 class="form-control"
                 id="goalOunces"
                 placeholder="Coffee Cup Size (oz)"
                 [(ngModel)]="model.goalOunces" name="goalOunces">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <label for="gramsOfWater"></label>
          <input matInput
                 required
                 (input)="calculateWaterOunces(model.gramsOfWater)"
                 (ngModelChange)="calculateWaterOunces(model.gramsOfWater)"
                 type="number"
                 class="form-control"
                 id="gramsOfWater"
                 placeholder="Grams of Water (g)"
                 [(ngModel)]="model.gramsOfWater" name="gramsOfWater">
        </mat-form-field>
      </div>

      <div *ngIf="model.gramsOfCoffee" class="form-group">
        <label for="gramsOfCoffee">Grams of Coffee Needed (g)</label>
        <div id="gramsOfCoffee" [innerHTML]="model.gramsOfCoffee + 'g'">
        </div>
        <input style="display: none;" disabled
               [(ngModel)]="model.gramsOfCoffee" name="gramsOfCoffee">
      </div>
    </div>
    <div class="button-group">
      <button mat-raised-button color="accent" type="submit" class="btn btn-success"
              [disabled]="!coffeeSetup.form.valid">Submit
      </button>
      <button mat-raised-button color="warn" type="reset" class="btn btn-success"
              [disabled]="!model.gramsOfCoffee || !model.goalOunces || !model.gramsOfWater">
        Reset
      </button>
    </div>
  </form>
</ng-template>

<ng-template #formSubmitted>
  <div class="icons-row">
    <div class="image-with-overlay">
      <img class="water-icon" src="../../../assets/icons/water.png" alt="water">
      <div class="centered-text">
        {{ model.gramsOfWater }}g <br/>
        {{ model.goalOunces }}oz <br/>
      </div>
    </div>
    <div class="image-with-overlay">
      <img class="coffee-beans" src="../../../assets/icons/coffee-beans.jpg" alt="coffee beans">
      <div class="centered-text">
        {{ model.gramsOfCoffee }}g
      </div>
    </div>
  </div>
  <br>
  <button mat-raised-button color="accent" class="btn btn-primary" (click)="edit()">Edit</button>
</ng-template>
