$final-icons-size: 10rem;

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-form-field.mat-form-field {
  width: 100%;
}

.coffee-image {
  object-fit: cover;
  object-position: -20% 0;
  width: 100%;
  height: 11rem;
}

.coffee-grounds-image {
  bottom: 0;
  object-fit: cover;
  object-position: center 50%;
  width: 100%;
  height: 11rem;
}

.coffee-beans {
  width: $final-icons-size;
  border-radius: 50%;
}

.water-icon {
  width: $final-icons-size;
}

.form-fields {
  padding-bottom: 2rem;
}

.icons-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 2fr));
  grid-gap: 3rem;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(1rem, 1fr));
  grid-gap: 1rem;
}

.image-with-overlay {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;
  text-decoration: black solid;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
